# Byte-compiled / optimized files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
env/
ENV/

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
.pytest_cache/

# Jupyter
.ipynb_checkpoints/

# Type checkers
.mypy_cache/
.pyre/
.pytype/

# IDEs / editors
.vscode/
.idea/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

# Environment variables
.env
.env.*

# Logs
*.log
posture_log.csv

# SQLite databases
*.sqlite3
*.db

# Temporary files
tmp/
temp/
GEMINI.md

#
assests 

#
physionet
assests

#
trained_model
